/* Google Font Import - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #e4e9f7;
    --sidebar-color: #f8f9fa;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #707070;
    --white-color: #fefdfd;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body {
    min-height: 100vh;
    background-color: var(--white-color);
    transition: var(--tran-05);
}

/* Webcam */
#webcam video {
    display: flex;
    gap: 8px;
    width: 100% !important;
    margin: auto;
    height: auto !important;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.presen_content {
    background-color: rgb(213, 210, 210);
    border-radius: 10px;
    display: flex;
    width: 50%;
    min-height: 20vh;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}
.btn {
    width: 130px;
    display: flex;
    margin-top: 5px;
}

.btn .text {
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

span {
    font-size: 10px;
}
/* layout create.blade.php */
.btncreate {
    max-width: 25vh;
    border-radius: 12px;
}

.btncreate .text {
    justify-content: center;
    text-align: center;
    font-size: 14px;
}
i {
    margin: 2px;
}
/* maps */
#map {
    display: flex;
    gap: 8px;
    height: 300px;
    width: 500px;
    border-radius: 15px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

/* Get Photos */
.img_presensi {
    display: flex;
    background-color: #695cfe;
    height: 200px;
    width: 300px;
    flex: 1;
}

.img_presensi .row {
    margin: 10px;
    display: flex;
    gap: 2px; /* Jarak antar gambar */
}

.img_presensi .row .img_in,
.img_presensi .row .img_out {
    flex: 1;
    margin: 10px; /* Atur lebar elemen agar berbagi ruang sama rata */
    width: 200px;
    height: 100px;
}

.img_presensi .row img {
    max-width: 100%;
    height: auto;
    display: block;
}

.swal2-radio label {
    font-size: 24px; /* Atur ukuran teks sesuai kebutuhan */
    font-weight: bold;
    color: #000000;
}

aside {
    float: right;
    width: 30%; /* Lebar aside */
    margin-left: 20px; /* Jarak antara aside dengan konten */
    margin-top: -23%;
}

.gambar-container {
    text-align: center;
}
.gambar-container img {
    border-radius: 10px;
}

.wrapper {
    width: 65%; /* Lebar konten utama */
    align-items: center;
}

.wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.profileuser {
    display: flex;
    background-color: rgb(213, 210, 210);
    border-radius: 10px;
    flex-direction: column; /* Membuat elemen di dalamnya disusun secara vertikal */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    width: 32.5%;
    gap: 20px; /* Mengatur jarak antar elemen di dalamnya */
    margin-top: 25px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 1);
}

.introduction span {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center; /* Pusatkan teks dalam elemen span */
}

/* @media (max-width: 768px) {
    .presen_content {
        width: 90vw;
        padding: 10px;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
    }

    .button-container {
        flex-direction: column;
    }
} */
@media screen and (max-width: 476px) {
    .btn {
        width: 95%;
    }
    .presen_content {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .profileuser,
    .wrapper {
        width: 100%;
    }
    .wrapper {
        margin-bottom: 30px;
    }
    aside {
        float: none;
        width: 100%;
        margin: 20px 0;
    }

    .gambar-container {
        text-align: center;
        width: 100%;
        border-radius: 8px;
    }

    .gambar-container img {
        width: 80%;
        height: 80%;
        border-radius: 8px;
    }
    .gambar-container h4 {
        margin-top: 20px;
        font-size: 14px;
    }

    #webcam {
        width: 100%; /* Pastikan webcam mengambil lebar penuh */
        height: auto; /* Sesuaikan tinggi webcam */
        max-height: 300px; /* Batasi tinggi maksimal agar tidak terlalu besar */
        margin-bottom: 20px; /* Tambahkan jarak di bawah webcam */
    }

    #map {
        width: 100%; /* Peta juga mengambil lebar penuh */
        height: 140px;
    }
    .btncreate {
        display: responsive;
        width: 100%;
        margin-top: -40%;
    }
}
